* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

form.sub-form {
  position: relative;
  width: 90%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.sub-form input,
form.sub-form textarea {
  display: inline-block;
  width: 80%;
  border: none;
  padding: 6px;
  outline: none;
  font-size: 1.05em;
  font-family: inherit;
  resize: none;
  background-color: #FAFAFA;
}

/* -------------------------------------------------------- */

.input-div {
 display: block;
}

form.sub-form label {
  display: inline-block;
  width: 200px;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-heading {
  font-size: 1.2em;
  padding-bottom: 10px;
}

/* Submit Button */
.submit-button {
  position: absolute;
  left: 6%;
}

/* Radio Buttons */
form.sub-form .radio-button {
  padding: 5%;
  width: 13px;
  margin-right: 8px;
  margin-left: 8px;
}

.radio-div {
  display: inline;
}

form.sub-form .radio-label {
  width: 50px;
  font-size: 1.05em;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Drop Box */
form.sub-form .drop-box-input {
  display: inline-block;
  position: relative;
  bottom: 4px;
}

.css-1xwhyjt-MuiAutocomplete-root .MuiOutlinedInput-root {
  height: 35px;
}

.css-1xwhyjt-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  position: relative;
  bottom: 11px;
  background-color: #fff;
}

form.sub-form .drop-down {
  height: 40px;
}

form.sub-form .drop-down-label {
  position: relative;
  top: 4px;
}